Source: pixy
Maintainer: David Lechner <david@lechnology.com>
Section: misc
Priority: optional
Standards-Version: 4.1.1
Build-Depends: debhelper (>=9.0.0), dh-python, cmake, swig, qt4-dev-tools,
               qt4-qmake, libqt4-dev, libusb-1.0-0-dev, libboost-thread-dev,
               python3-all-dev
VCS-Git: https://github.com/ev3dev/pixy.git
VCS-Browser: https://github.com/ev3dev/pixy

Package: libpixyusb-dev
Section: libdevel
Architecture: any
Depends: pixy-rules, ${misc:Depends}
Description: Development files for PixyCam
 Pixy: A fast, easy to use, vision sensor
 .
 This package contains the development files.

Package: python3-libpixyusb
Section: python
Architecture: any
Depends: pixy-rules, ${python3:Depends}, ${shlibs:Depends}, ${misc:Depends}
Description: Development files for PixyCam
 Pixy: A fast, easy to use, vision sensor
 .
 This package contains the python3 bindings for libpixyusb.

Package: pixymon
Architecture: any
Depends: pixy-rules, ${shlibs:Depends}, ${misc:Depends}
Description: Desktop application that monitors a PixyCam
 Pixy: A fast, easy to use, vision sensor
 .
 This package contains the desktop monitoring application PixyMon.

Package: pixy-rules
Architecture: all
Depends: ${misc:Depends}
Description: Udev rules for PixyCam
 Pixy: A fast, easy to use, vision sensor
 .
 This package contains the udev rules needed to use PixyCam as non-root user.
